{% extends "base.html.twig" %}
{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  <h1>{{ title }}</h1>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
