
<template>
<b-alert :variant="variant" :show="myShow" dismissible @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">{{ message }} - {{ dismissCountDown}}
  <b-progress :variant="variant" :max="dismissSecs" :value="dismissCountDown" :height="height"></b-progress>
</b-alert>
</template>

<script>
export default {
  data() {
    return {
      dismissSecs: 5,
      dismissCountDown: 5,
      showDismissibleAlert: false,
    };
  },
  props: {
    variant: String,
    myShow: {
      type: [Boolean, Number],
      default: false,
    },
    message: String,
    height: {
      type: String,
      default: '4px'
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    updateHeight() {
      this.height = this.height  + 'px';
    }
  },
  created() {
    if (this.myShow === true || this.myShow === false || this.myShow === null || this.myShow === 0) {
      return
    }
    this.dismissCountDown = this.myShow;
    this.dismissSecs = this.myShow;
  },
};
</script>
