<template>
<b-form v-if="show" @submit="onSubmit" :novalidate="true">
  <div v-for="field in fields">
    <div v-if="field.type != 'submit' && field.type != 'textarea' && field.type != 'vich_image'">
      <b-form-group :invalid-feedback="invalidFeedback(field.errors)" :state="field.errors.hasError" :id="formName + '_' + field.name" :label="field.attributes.label" :description="setAttribute(field.attributes, 'description')" :label-for="formName + '_' + field.name">
        <b-form-input @focus.native="isFocus(field)" :state="field.errors.hasError" :id="formName + '_' + field.name" :type="field.type" v-model="field.value" :placeholder="setAttribute(field.attributes, 'placeholder')" :required="field.required">
        </b-form-input>
      </b-form-group>
    </div>
    <div v-if="field.type == 'textarea'">
      <!-- <ckeditor v-model="content" :config="config" @blur="onBlur($event)" @focus="onFocus($event)">
        </ckeditor> -->
      <label>{{ field.attributes.label }}</label>
      <b-form-textarea :invalid-feedback="invalidFeedback(field.errors)" :state="field.errors.hasError" :id="formName + '_' + field.name" :placeholder="setAttribute(field.attributes, 'placeholder')" :rows="3" :max-rows="6" v-model="field.value">
      </b-form-textarea>
      <div v-if="!field.errors.hasError" role="alert" aria-live="assertive" aria-atomic="true" :id="formName + '_' + field.name + '__BV_feedback_invalid_'" class="invalid-feedback d-block">{{ field.errors.message }}</div>
    </div>
    <div v-if="field.type == 'vich_image'">
      <b-form-group :invalid-feedback="invalidFeedback(field.errors)" :state="field.errors.hasError" :id="formName + '_' + field.name" :label="field.attributes.label" :description="setAttribute(field.attributes, 'description')" :label-for="formName + '_' + field.name">
        <b-form-file :ref="'fileinput_' + field.name" v-model="field.value" :state="Boolean(field.value)" placeholder="Choose a file..."></b-form-file>
        <b-form-invalid-feedback :force-show="field.errors.hasError">{{ invalidFeedback(field.errors) }}</b-form-invalid-feedback>
      </b-form-group>
    </div>
    <b-button v-if="field.type == 'submit'" :type="field.type" variant="primary">{{ field.attributes.label }}</b-button>
  </div>
  <b-button @click="closeForm" variant="primary">Close</b-button>
</b-form>
</template>
<script>
import axios from 'axios';
import VueAxios from 'vue-axios';
import bForm from 'bootstrap-vue/es/components/form/form';
import Ckeditor from 'vue-ckeditor2';
export default {
  name: 'formulaire',
  components: {
    VueAxios,
    axios,
    bForm,
    Ckeditor
  },
  data() {
    return {
      show: false,
      content: '',
      config: {
        toolbar: [
          ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript']
        ],
        height: 300
      },
      formName: '',
      method: 'POST',
      token: '',
      fields: {},
      hasFile: false
    };
  },
  props: {
    action: String,
    form: Object
  },
  watch: {
    form() {
      if (!this.show) {
        this.show = true;
        this.formName = this.form.name;
        this.token = this.form.token;
        this.method = this.form.method;
        this.fields = this.form.fields;
        this.hasFileInput = this.form.hasFileInput;
      }
    }
  },
  methods: {
    closeForm() {
      this.$emit('closeForm');
    },
    isFocus(field) {
      if (field.errors && field.errors.hasError) {
        field.errors.hasError = null;
      }
    },
    setAttribute(attribute, name) {
      if (attribute) {
        return attribute[name];
      }
    },
    invalidFeedback(errors) {
      if (!errors.hasError) {
        return errors.message;
      }
    },
    clearInputFile(name) {
      this.$refs[name][0].reset();
    },
    prepareParams() {
      var params = new URLSearchParams();
      if (this.hasFileInput) {
        params = new FormData();
      }

      for (var field in this.fields) {
        var string;
        if (this.fields[field].type == 'submit') {
          break;
        } else if (this.fields[field].type != 'submit' && this.fields[field].type != 'vich_image') {
          string = this.formName + '[' + field + ']';
        } else if (this.fields[field].type == 'vich_image') {
          string = this.formName + "[" + field + '][file]';
          this.clearInputFile('fileinput_' + this.fields[field].name);
        }

        params.append(string, this.fields[field].value == null ? '' : this.fields[field].value);
      }
      params.append(this.formName + '[_token]', this.token);
      params.append('_method', this.method);
      return params;
    },
    onSubmit(evt) {
      evt.preventDefault();
      var params = this.prepareParams();
      var self = this;
      if (this.method == 'POST') {
        axios.post(this.action, params)
          .then(function(response) {
            var form = response.data.form;
            self.fields = form.fields;
          })
          .catch(function(error) {
            console.log(error);
          });

      } else if (this.method == 'PUT') {
        axios.put(this.action, params)
          .then(function(response) {
            var form = response.data.form;
            self.fields = form.fields;
          })
          .catch(function(error) {
            console.log(error);
          });
      }

    }
  },
  created() {}
};
</script>
