<template>
<div>
  <span>Hello {{ firstname }} {{ lastname }}</span>
</div>
</template>

<script>
export default {
  name: 'hello',
  data() {
    return {};
  },
  props: {
    firstname: String,
    lastname: String,
  },
  methods: {},
  created() {}
};
</script>
