<template>
<div>
  <b-button @click="showForm" :disabled="show" variant="success">{{ title }}</b-button>
  <formulaire v-if="show" @closeForm="close" :form="form" :action="href"></formulaire>
</div>
</template>

<script>
import Formulaire from './Form';
import axios from 'axios';
import VueAxios from 'vue-axios';

export default {
  name: 'links',
  components: {
    Formulaire
  },
  data() {
    return {
      form: {},
      show: false
    };
  },
  props: {
    href: String,
    title: String,
  },
  methods: {
    showForm(evt) {
      evt.preventDefault();
      axios.get(this.href).then((response) => {
        this.form = response.data.form;;
      })
      this.show = true;
    },
    close() {
      this.show = false;
    }
  }
}
</script>
