{% extends "base.html.twig" %}
{% block body %}

    <div id="admin_container">
      <b-container>
        <div id="navbar">
          <b-navbar type="dark" variant="primary" toggleable>
            <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
            <b-collapse is-nav id="nav_dropdown_collapse">
              <b-navbar-nav>
                <b-navbar-brand>
                  <hello v-bind:firstname="'{{ app.user.firstname }}'" v-bind:lastname="'{{ app.user.lastname }}'"></hello>
                </b-navbar-brand>
                <b-nav-item href="/">Home</b-nav-item>
              </b-navbar-nav>
              <b-navbar-nav class="ml-auto">
                <b-nav-item href="/logout" right>Se déconnecter</b-nav-item>
              </b-navbar-nav>
            </b-collapse>
          </b-navbar>
        </div>

        <b-row>
            <b-col>
              <links v-bind:href="'{{ adminMenuCurriculumVitae }}'" v-bind:title="'Gestion du Curriculum Vitae'"></links>
              <links v-bind:href="'{{ adminMenuEducation }}'" v-bind:title="'Gestion des formations'"></links>
              <links v-bind:href="'{{ adminMenuWork }}'" v-bind:title="'Gestion des travaux'"></links>
            </b-col>
        </b-row>
      </b-container>
    </div>



{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
  <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}
