<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('build/css/global.css') }}">
    {% endblock %}
  </head>
  <body>
      {% for label, messages in app.flashes %}
        {% for message in messages %}
          <alerte v-bind:height="'1px'" dismissible="dismissible" variant="{{ label }}" v-bind:my-show="7" v-bind:message="'{{ message }}'">
          </alerte>
        {% endfor %}
      {% endfor %}
      {% block body %}{% endblock %}

    <!-- these two files now must be included in every page -->
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    {% block javascripts %}
      <script src="{{ asset('build/js/global.js') }}"></script>
    {% endblock %}
  </body>
</html>
