<template>
  <div>
    <button type="button" class="btn btn-outline-primary">Gestion des rôles | {{ firstname }}</button>
  </div>
</template>

<script>
export default {
  name: 'admin',
  data() {
    return {};
  },
  props: {
    username: String,
    firstname: String
  },
  methods: {
    updateUsername(user) {
      console.log(user);
      this.username = user.username;
    }
  },
  created() {}
};
</script>
