{% extends 'base.html.twig' %}

{% block title %}{{ title }}!{% endblock %}

{% block body %}
  <div id="curriculum">
    <h1>{{ title }}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}
